body {
  margin: 0;
  /* resets user agent margins */
  text-align: center;
  /* centers all elements in the body */
  font-family: 'Montserrat', sans-serif;
  background-color: #f8efd4;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Parisienne', cursive;
  font-size: 5.625rem;
  /* This is a dynamic font size with percentages. (16px = 100% or 1em).
     90 px / 16 = 562.5% or 5.625 em.
     To overcome CSS inheritance, CSS3 allows us to use the root em or rem.*/
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  color: #11999E;
}

hr {
  border-style: dotted;
  border-width: 0 0 7px;
  border-color: #40514E;
  height: 2px;
  width: 5%;
}

a {
  color: #11999E;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  /* Makes the div element relative for children absolute positioning (clouds)*/
  padding-top: 110px;
  width: auto;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 60px;
  animation: 20s infinite alternate topcloudfly;
}

/* top cloud animation */
@keyframes topcloudfly {
  from {
    margin-left: 10%;
    width: auto;
  }

  to {
    margin-right: 12%;
    width: auto;
  }
}

.bottom-cloud {
  position: absolute;
  left: 17%;
  bottom: 300px;
  animation: 20s infinite alternate bottomcloudfly;
}

/* bottom cloud animation */
@keyframes bottomcloudfly {
  from {
    margin-left: 10%;
    width: auto;
  }

  to {
    margin-right: 12%;
    width: auto;
  }
}

.subtitle {
  font-weight: normal;
  line-height: 2;
}

/* For smaller displays reduce mountain size */
.mountain-img {
  max-width: 50%;
}

.profile {
  padding: 65px 0 0 0;
}

.profile-greeting {
  margin-bottom: 65px;
}

.profile-img {
  max-width: 50%;
}

.personal-description {
  color: #40514E;
  margin-bottom: 100px;
}

.skills-header {
  margin-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.design-description-paragraph {
  line-height: 2;
  padding: 20px;
  min-width: 50%;
}

.tea-description-paragraph {
  line-height: 2;
  width: auto;
  min-width: 50%;
}

.computer-img {
  float: left;
  /* Wraps the text to the left */
  margin-right: 30px;
}

.tea-img {
  float: right;
  /* Wraps the text to the right */
  margin-left: 30px;
}

.contact-header {
  margin: 100px auto 50px auto;
}

.contact-subtitle {
  margin-bottom: 60px;
}

.contact-button {
  font-family: 'Montserrat', sans-serif;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  height: 0;
  line-height: 0;
  color: #EAF6F6;
  width: 145px;
  font-size: 21px;
  font-weight: 400;
  padding: 22px;
  background-color: #66BFBF;
  border: solid #337FED 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 100px;
}

.bottom-container {
  background-color: #f6d6ad;
  margin-bottom: 0;
  padding-top: 20px;
}

.footer-link {
  width: 50%;
}

.linkedin-img {
  max-width: 40px;
}

.twitter-img {
  max-width: 45px;
  padding-left: 12px;
}

.github-img {
  max-width: 80px;
}

.MadeByJulian {
  padding-top: 10px;
  font-size: 0.875rem;
}

.copyright {
  margin-bottom: 0;
  font-family: serif;
  padding-top: 10px;
  padding-bottom: 40px;
  font-size: 0.875rem;
}
